<?xml version="1.0" encoding="utf-8"?>
<manifest package="co.touchlab.droidconandroid"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- GCM required, remember replace "com.hyphenate.chatuidemo" to your own package-->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission
        android:name="co.touchlab.droidconandroid.permission.C2D_MESSAGE"
        android:protectionLevel="signature"
    />
    <uses-permission android:name="co.touchlab.droidconandroid.permission.C2D_MESSAGE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".DroidconApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".FilterableScheduleActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".VotingActivity"
            android:label="@string/vote"/>
        <activity
            android:name=".VotingIntroActivity"
            android:label="@string/vote"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"/>
        <activity
            android:name=".ScheduleDataActivity"
            android:label="@string/title_activity_debug_schedule_display"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".FindUserKot"
            android:label="@string/action_search"/>
        <activity
            android:name=".UserDetailActivity"
            android:label="User Detail">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="application/vnd.co.touchlab.droidconandroid"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".EventDetailActivity"
            android:parentActivityName=".ScheduleActivity"/>

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".ScheduleActivity"/>

        <activity android:name=".WelcomeActivity"/>
        <activity
            android:name=".EditUserProfileActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".SignInActivity"/>

        <service
            android:name="co.touchlab.android.threading.tasks.helper.KeepAliveService"
            android:exported="true"/>

        <service android:name=".firebase.NotificationService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".alerts.AlertReceiver">
            <intent-filter>
                <action android:name="co.touchlab.droidconandroid.DISPLAY_NOTIFICATION"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="90b5b9675372e1f2aff36d43ea5d6869040d37f3"/>
        <meta-data
            android:name="JW_LICENSE_KEY"
            android:value="qksLYd8ZDZwx8FGNKEF1in29YKvqZ9lK9GMuBnwZarYc4jXHwAjJ6r0zbns="/>

        <activity android:name=".VideoActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>

        <!-- Hyphenate -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="tltest#tltest" />
        <!-- Declare required core functions of service sdk-->
        <service android:name="com.hyphenate.chat.EMChatService" />

        <!-- gcm start，replace "com.hyphenate.demoapp" to your own package -->
        <receiver
            android:name="com.hyphenate.chat.EMGCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="co.touchlab.droidconandroid" />
            </intent-filter>
        </receiver>

        <service android:name="com.hyphenate.chat.EMGCMListenerService"
                 android:exported="false" >
        </service>
    </application>

</manifest>